.Builds {
}

.Builds__race-builds {
}

.Builds__race-divider {
  margin: 20px 0;
  border: 2px solid var(--primary-light-3);
}

.Builds__race-divider:last-child {
  display: none;
}

.Builds__cluster-divider {
  margin: 10px 0;
  border: 1px solid var(--primary-light-1);
}

.Builds__cluster-divider:last-child {
  display: none;
}

.Builds__race-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Builds__race-icon {
  height: 40px;
  width: 40px;
  margin-left: 5px;
}

.Builds__race-icon--protoss {
  margin-left: 0;
}

.Builds__race-icon-opponent {
  height: 30px;
  width: 30px;
  margin-left: 5px;
}

.Builds__race-icon-opponent--protoss {
  margin-left: 0;
}

.Builds__opponent-race-builds {
  margin-bottom: 20px;
}

.Builds__clusters-info {
  font-size: 14px;
  font-weight: 400;
  padding: 6px 8px;
  border-radius: 8px;
  border: 2px solid var(--primary-blue);
  background-color: var(--secondary-dark-3);
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}

.Builds__cluster-toggle {
  font-size: 16px;
  margin-bottom: 5px;
}

.Builds__cluster-toggle:hover {
  cursor: pointer;
}

@media(max-width: 575px) {
  .Builds__clusters-info {
    font-size: 12px;
    margin-right: 5px;
  }
}
