.ReplayRecord {
  padding: 15px;
  background-color: var(--primary-dark-2);
  border: 4px solid var(--secondary-light-1);
  border-bottom: none;
  transition: background-color 0.2s;
}

.ReplayRecord:first-child {
  padding: 15px;
  border-radius: 8px 8px 0 0;
}

.ReplayRecord:last-child {
  border-radius: 0 0 8px 8px;
  border-bottom: 4px solid var(--secondary-light-1);
  padding-bottom: 15px;
}

.ReplayRecord__preview {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.ReplayRecord__match-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.ReplayRecord__map {
  grid-area: map;
  font-size: 24px;
  display: inline-block;
  width: 230px;
  margin-right: 15px;
}

.ReplayRecord__game-length {
  grid-area: game-length;
  font-size: 24px;
  justify-self: flex-end;
  display: inline-block;
}

.ReplayRecord__tournament-info {
  grid-area: tournament-info;
  font-size: 14px;
}

.ReplayRecord__played-at {
  grid-area: played-at;
  justify-self: flex-end;
  font-size: 14px;
}

.ReplayRecord__players {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.ReplayRecord__player {
  display: flex;
}

.ReplayRecord__player-info {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 8px;
  padding-left: 5px;
  width: max-content;
  margin-right: 10px;
}

.ReplayRecord__player-info--win {
  box-shadow: 0 0 0 2px var(--green-highlight) inset;
  background-color: var(--green-background);
  padding: 8px;
  padding-left: 5px;
  border-radius: 8px;
}

.ReplayRecord__matchup-race-icon {
  height: 25px;
  margin-right: -5px;
  width: 25px;
}

.ReplayRecord__player-name {
  width: 100px;
}

.ReplayRecord__player-result {
  justify-self: flex-end;
  font-size: 14px;
  border-radius: 5px;
  padding: 4px 8px;
  width: 30px;
  text-align: center;
}

.ReplayRecord__player-result--win {
  background-color: var(--green-highlight);
}

.ReplayRecord__builds {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.ReplayRecord__player-build {
  width: max-content;
  display: flex;
  align-items: center;
}

.ReplayRecord__building-icon {
  height: 30px;
  width: 30px;
}

.ReplayRecord__arrow-right {
  height: 15px;
  width: 15px;
  margin: 0 -2px;
}

.ReplayRecord__arrow-right:last-child {
  display: none;
}

.ReplayRecord__related-builds {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.ReplayRecord__build-recommendation {
  font-size: 12px;
  font-weight: 400;
}

.ReplayRecord__hidden {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

.ReplayRecord__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 2px solid var(--secondary-light-1);
}

.ReplayRecord__tags {
  display: flex;
  column-gap: 5px;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}

.ReplayRecord__tag {
  padding: 6px 8px;
  background-color: var(--primary-light-1);
  border-radius: 4px;
  height: max-content;
}

.ReplayRecord__no-tags {
  font-style: italic;
}

.ReplayRecord__download {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--primary-light-1);
  border: none;
  border-radius: 6px;
  color: var(--text);
  padding: 6px 8px;
  transition: 0.2s;
  text-decoration: none;
}

.ReplayRecord__download:hover {
  cursor: pointer;
  background-color: var(--primary-light-2);
}

@media(max-width: 850px) {
  .ReplayRecord__building-icon {
    height: 25px;
    width: 25px;
  }
}

@media(max-width: 700px) {
  .ReplayRecord {
    padding: 6px;
  }

  .ReplayRecord:first-child {
    padding: 6px;
  }

  .ReplayRecord:last-child {
    padding-bottom: 6px;
  }

  .ReplayRecord--selected {
    padding-top: 10px;
  }

  .ReplayRecord--selected + .ReplayRecord {
    border-top: none;
    padding-top: 6px;
  }

  .ReplayRecord__preview {
    row-gap: 8px;
  }

  .ReplayRecord__players {
    font-size: 12px;
    row-gap: 0;
  }

  .ReplayRecord__player-info {
    column-gap: 8px;
  }

  .ReplayRecord__player-name {
    width: 75px;
  }

  .ReplayRecord__player-result {
    font-size: 12px;
    border-radius: 5px;
    padding: 3px 6px;
    width: 24px;
  }

  .ReplayRecord__map {
    font-size: 14px;
    width: 140px;
    margin-right: 10px;
  }

  .ReplayRecord__game-length {
    font-size: 14px;
  }

  .ReplayRecord__tournament-info {
    font-size: 12px;
    font-weight: 400;
  }

  .ReplayRecord__played-at {
    font-size: 12px;
    font-weight: 400;
  }

  .ReplayRecord__building-icon {
    height: 20px;
    width: 20px;
  }

  .ReplayRecord__footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 5px;
    border-top: 2px solid var(--primary-light-1);
  }
}

@media(max-width: 575px) {
  .ReplayRecord {
    margin-bottom: 8px;
    border: none;
    background-color: var(--secondary-dark-3);
    border-radius: 8px;
    padding: 0;
  }

  .ReplayRecord:first-child {
    padding: 0;
    border-radius: 8px;
  }

  .ReplayRecord:last-child {
    padding: 0;
    border-radius: 8px;
    border: none;
  }

  .ReplayRecord__preview {
    padding: 8px;
    padding-top: 4px;
  }

  .ReplayRecord__player-info {
    column-gap: 5px;
    margin-right: 5px;
    padding: 5px;
  }

  .ReplayRecord__player-name {
    font-size: 12px;
    width: 70px;
  }

  .ReplayRecord__matchup-race-icon {
    height: 15px;
    width: 15px;
    margin-right: -2px;
  }

  .ReplayRecord__player-result {
    font-size: 12px;
    border-radius: 5px;
    padding: 3px 6px;
    width: 24px;
  }

  .ReplayRecord__building-icon {
    height: 17px;
    width: 17px;
  }

  .ReplayRecord__arrow-right {
    margin: 0 -3px;
  }

  .ReplayRecord__hidden {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
  }
  
  .ReplayRecord__footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 5px;
    border-top: 2px solid var(--primary-light-1);
  }
  
  .ReplayRecord__tags {
    display: flex;
    column-gap: 5px;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
  }
  
  .ReplayRecord__tag {
    padding: 4px 6px;
    background-color: var(--primary-light-1);
    border-radius: 4px;
    height: max-content;
  }
  
  .ReplayRecord__no-tags {
    font-style: italic;
  }
  
  .ReplayRecord__download {
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    background-color: var(--primary-light-1);
    border: none;
    border-radius: 6px;
    color: var(--text);
    padding: 4px 6px;
    transition: 0.2s;
    text-decoration: none;
  }
  
  .ReplayRecord__download:hover {
    cursor: pointer;
    background-color: var(--primary-light-2);
  }
}
