.ReplayDetails {
  margin: -20px;
  margin-bottom: -16px;
  margin-top: 20px;
  padding: 20px;
  padding-top: 20px;
  background-color: var(--secondary-dark-2);
}

.ReplayRecord:last-child .ReplayDetails {
  border-radius: 0 0 8px 8px;
  margin-top: 24px;
  margin-bottom: -20px;
}

.ReplayDetails__header {
  display: flex;
  margin-bottom: 20px;
}

.ReplayDetails__player-info {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  align-items: center;
  justify-content: flex-end;
}

.ReplayDetails__player {
  display: flex;
  justify-content: center;
  margin-left: -10px;
}

.ReplayDetails__player-icon {
  height: 25px;
  margin-right: 5px;
}

.ReplayDetails__player-name {
  margin: 3px 0 0;
  font-size: 16px;
}

.ReplayDetails__download {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  background-color: var(--primary-light-1);
  border: none;
  border-radius: 8px;
  color: var(--text);
  padding: 8px 12px;
  transition: 0.2s;
  text-decoration: none;
}

.ReplayDetails__download:hover {
  cursor: pointer;
  background-color: var(--primary-light-2);
}

.ReplayDetails__stats {
  border-radius: 8px;
  width: 100%;
  margin: 0;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: var(--secondary-dark-3);
  box-shadow: 0 0 0 3px var(--primary-light-3);
  border-radius: 8px;
}

@media(max-width: 700px) {
  .ReplayDetails {
    margin: -6px;
    margin-top: 8px;
    margin-bottom: -2px;
    padding: 15px;
    padding-top: 10px;
  }

  .ReplayRecord:last-child .ReplayDetails {
    border-radius: 0 0 8px 8px;
    margin-top: 12px;
    margin-bottom: -8px;
  }

  .ReplayDetails__header {
    margin-bottom: 15px;
  }

  .ReplayDetails__stats {
    font-size: 14px;
  }

  .ReplayDetails__download {
    font-size: 12px;
    padding: 6px 8px;
    border-width: 2px;
  }

  .ReplayDetails__player-info {
    grid-template-columns: repeat(2, 80px);
  }

  .ReplayDetails__player {
    margin: 0;
  }

  .ReplayDetails__player-name {
    display: none;
  }

  .ReplayDetails__player-icon {
    margin: 0;
    height: 25px;
  }
}