.SearchResultsInline {
  display: flex;
}

.SearchResultCategory__result {
  display: flex;
}

.SearchResultsInline__content {
  background-color: var(--secondary-light-1);
  padding: 8px 12px;
  border-radius: 8px;
  margin: 0 10px;
  margin-bottom: 5px;
}

.SearchResultsInline__content:first-child {
  margin-left: 0;
}

.SearchResultsInline__content:hover {
  cursor: pointer;
}

.SearchResultsInline__content--selected {
  box-shadow: 0 0 0 2px var(--primary-blue);
}

.SearchResultsInline__result-count {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.SearchResultCategory__content--inline {
  display: flex;
}
