.SearchResultsInline {
  margin-bottom: 20px;
}

.SearchResultsInline__header {
  display: flex;
  align-items: flex-end;
  column-gap: 20px;
  margin-bottom: 10px;
}

.SearchResultsInline__title {
  font-size: 18px;
}

.SearchResultsInline__results {
  display: flex;
}

.SearchResultsInline__result-content {
  background-color: var(--secondary-light-1);
  padding: 8px 12px;
  border-radius: 8px;
  margin: 0 10px;
  margin-bottom: 5px;
}

.SearchResultsInline__result-content:first-child {
  margin-left: 0;
}

.SearchResultsInline__result-content:hover {
  cursor: pointer;
}

.SearchResultsInline__result-content--selected {
  box-shadow: 0 0 0 2px var(--primary-blue);
}

.SearchResultsInline__result-count {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.SearchResultsInline__result-content--inline {
  display: flex;
}
