.Search {
  padding-bottom: 30px;
}

.Search__sub-heading {
  font-weight: 400;
  font-size: 12px;
}

.Search__replay-list {
  border-radius: 8px;
}

.Search__search,
.Search__search-input {
  width: 100%;
}

.Search__search {
  margin-bottom: 20px;
}


.Search__search-box {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

.Search__search-type {
}

.Search__selected-search-type {
  font-size: 12px;
  padding: 6px 12px;
  background-color: var(--primary-light-1);
  border-radius: 5px;
  white-space: nowrap;
}

.Search__selected-search-type::marker {
  content: '';
}

.Search__selected-search-type:hover {
  cursor: pointer;
}

.Search__search-type-selection-dropdown {
  position: absolute;
  background-color: var(--primary-light-1);
  box-shadow: 0 0 0 0px var(--primary-light-3);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 10px;
}

.Search__search-type-option {
  display: flex;
  align-items: center;
}

.Search__search-type-checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
}

.Search__search-type-label {
  font-size: 12px;
  margin-left: 10px;
}

.Search__search-input {
  background-color: var(--primary-light-1);
  border-radius: 8px;
  font-size: 18px;
  color: var(--text);
  border: none;
  padding: 4px;
}

.Search__search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-blue);
  -webkit-box-shadow: 0 0 0 2px var(--primary-blue);
}

.Search__search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Search__category-results {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.Search__player-result {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin: -2px 0;
}

.Search__player-result--Protoss,
.Search__player-result--Zerg {
  margin-left: -5px;
}

.Search__player-result--Terran {
  margin-left: -2px;
}

.Search__race-icon {
  height: 25px;
  width: 25px;
}

.Search__search-results {
  font-size: 14px;
}

@media(max-width: 575px) {
  .Search {
    padding-bottom: 15px;
  }

  .Search__header {
    font-size: 18px;
    padding: 10px;
    margin: 20px 0;
    margin-bottom: 10px;
  }

  .Search__search {
    margin-bottom: 10px;
  }

  .Search__search-input {
    font-size: 16px;
    height: 26.5px;
  }

  .Search__search-results {
    font-size: 12px;
  }

  .Search__category-results {
    row-gap: 10px;
  }
}
