.Tree--grouped {
  margin-bottom: 20px;
}

.Tree__branch, .Tree__prefix, .Tree__branch-parent {
  display: flex;
}

.Tree__group-header {
  margin-bottom: 20px;
}

.Tree__prefix {
  padding: 6px;
  border-radius: 8px;
  width: max-content;
  background-color: var(--secondary-dark-4);
  overflow-x: auto;
}

.Tree__modifiers {
  margin-bottom: 10px;
  display: flex;
  column-gap: 10px;
}

.Tree__modifier {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: var(--primary-light-1);
  border: 1px solid var(--primary-blue);
  font-size: 14px;
}

.Tree__modifiers--secondary {
  /* margin-bottom: 5px; */
}

.Tree__modifier--secondary {
  background-color: var(--secondary-dark-4);
  border: 1px solid var(--primary-light-3);
  padding: 4px 8px;
  font-weight: 400;
}

.Tree__show {
  margin-bottom: 5px;
}

.Tree__branch-parent {
  height: max-content;
}

.Tree__branch-summary::marker {
  display: inline;
}

.Tree__branch-children {
  display: flex;
  align-self: center;
  margin-left: 5px;
  font-size: 14px;
}

.Tree__branch-children:hover {
  cursor: pointer;
}

/* .Tree__branch-children[open] .Tree__branch-summary {
  display: none;
} */


.Tree__building {
  display: flex;
  align-items: center;
}

.Tree__building-icon {
  height: 30px;
  width: 30px;
}

.Tree__arrow {
  height: 20px;
  width: 20px;
}

.Tree__sorting {
  margin-bottom: 10px;
  width: max-content;
}

.Tree__search-opening {
  font-size: 12px;
  font-weight: 400;
}

.Tree__search-opening:hover {
  cursor: pointer;
}

details .Builds__cluster-divider--tree {
  margin: 20px 0;
}

.Search__selected-search-type {
  font-size: 12px;
  padding: 6px 12px;
  background-color: var(--primary-light-1);
  border-radius: 5px;
  white-space: nowrap;
}

.Search__selected-search-type:hover {
  cursor: pointer;
}

.Search__search-type-selection-dropdown {
  position: absolute;
  background-color: var(--primary-light-1);
  box-shadow: 0 0 0 0px var(--primary-light-3);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 10px;
}

.Search__search-type-selection-dropdown--tree {
  position: static;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: max-content;
}

.Search__search-type-option {
  display: flex;
  align-items: center;
}

.Search__search-type-checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
}

.Search__search-type-label {
  font-size: 12px;
  margin-left: 10px;
}

@media(max-width: 575px) {
  .Tree__show {
    font-size: 14px;
  }

  .Tree__modifiers {
    column-gap: 5px;
  }

  .Tree__modifier {
    font-size: 12px;
    padding: 4px 6px;
  }
}
