.App {
  padding-bottom: 30px;
}

.App__header {
  background-color: var(--primary-dark-2);
  border: 3px solid var(--primary-blue);
  margin: 30px 0;
  border-radius: 10px;
  padding: 15px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.App__sub-heading {
  font-weight: 400;
  font-size: 12px;
}

.App__replay-list {
  border-radius: 8px;
  /* box-shadow: 0 0 0 3px var(--primary-blue); */
}

.App__search,
.App__search-input {
  width: 100%;
}

.App__search {
  margin-bottom: 10px;
}

.App__search-input {
  background-color: var(--primary-light-1);
  border-radius: 8px;
  font-size: 18px;
  color: var(--text);
  border: 2px solid var(--primary-light-3);
  padding: 4px;
  margin-bottom: 20px;
}

.App__search-results {
  font-size: 16px;
}

@media(max-width: 500px) {
  .App {
    margin-top: 20px;
  }

  .App__header {
    font-size: 24px;
    margin: 20px 0;
  }
}
