.App {
  padding-bottom: 30px;
}

.App__header {
  background-color: var(--primary-dark-2);
  border: 3px solid var(--primary-blue);
  margin: 20px 0;
  border-radius: 10px;
  padding: 15px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.App__sub-heading {
  font-weight: 400;
  font-size: 12px;
}

.App__replay-list {
  border-radius: 8px;
  /* box-shadow: 0 0 0 3px var(--primary-blue); */
}

.App__search,
.App__search-input {
  width: 100%;
}

.App__search {
  margin-bottom: 10px;
}

.App__search-input {
  background-color: var(--primary-light-1);
  border-radius: 8px;
  font-size: 18px;
  color: var(--text);
  border: 2px solid var(--primary-light-3);
  padding: 4px;
  margin-bottom: 20px;
}

.App__quick-search {
}

.App__matchup-quick-select,
.App__player-quick-select {
  display: flex;
  justify-content: space-evenly;
  column-gap: 20px;
}

.App__matchup-quick-select {
}

.App__player-quick-select {
}

.App__quick-option {
  flex-grow: 1;
  border-radius: 15px;
  border: none;
  padding: 10px;
  background-color: var(--secondary-dark-4);
  color: var(--text);
  min-width: 40px;
  max-width: 120px;
  transition: background-color 0.2s;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}

.App__quick-option:hover {
  cursor: pointer;
  background-color: var(--primary-light-2);
}

.App__quick-option--selected {
  box-shadow: 0 0 0 2px var(--primary-blue);
  background-color: var(--primary-light-2);
}

.App__search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
}

.App__search-filters {
  display: flex;
  align-items: center;
  column-gap: 5px;
  justify-self: flex-end;
  background-color: var(--secondary-dark-3);
  color: var(--text);
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 14px;
}

.App__filter-checkbox {
  margin: 0;
}

.App__search-results {
  font-size: 16px;
}

@media(max-width: 575px) {
  .App {
    padding-bottom: 15px;
  }

  .App__header {
    font-size: 18px;
    padding: 10px;
    margin: 20px 0;
    margin-bottom: 10px;
  }

  .App__search {
    margin-bottom: 6px;
  }

  .App__search-input {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .App__matchup-quick-select,
  .App__player-quick-select {
    column-gap: 5px;
  }

  .App__quick-option {
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 6px;
    padding: 6px 8px;
  }

  .App__search-results {
    font-size: 12px;
  }

  .App__search-filters {
    font-size: 11px;
  }
}
