:root {
  --text: hsl(0, 0%, 85%);
  --light-grey: hsl(0, 0%, 70%);
  --grey: hsl(0, 0%, 47%);
  --dark-grey: hsl(0, 0%, 40%);
  --purple: hsl(270, 80%, 30%);
  --green: hsl(120, 100%, 40%);
  --green-desat: hsl(120, 80%, 25%);
  --green-highlight: hsla(120, 80%, 25%, 0.6);
  --green-background: hsla(120, 80%, 25%, 0.15);
  --red: hsl(0, 100%, 30%);
  --red-desat: hsl(0, 70%, 25%);
  --red-highlight: hsla(0, 70%, 25%, 0.6);
  --red-background: hsla(0, 70%, 25%, 0.15);

  --protoss: hsl(51, 80%, 50%);
  --zerg: hsl(274, 100%, 30%);
  --terran: hsl(27, 80%, 41%);

  --protoss-background: hsla(51, 100%, 50%, 0.08);
  --zerg-background: hsla(274, 100%, 25%, 0.15);
  --terran-background: hsla(27, 95%, 41%, 0.15);

  --primary-blue: hsl(210, 68%, 47%);
  --primary-blue-hover: hsl(210, 85%, 60%);

  --primary-dark-1: hsl(230, 70%, 6%);
  --primary-dark-2: hsl(230, 60%, 8%);
  --primary-light-1: hsl(210, 70%, 16%);
  --primary-light-2: hsl(210, 65%, 20%);
  --primary-light-3: hsl(210, 60%, 24%);
  --secondary-dark-1: hsl(210, 90%, 8%);
  --secondary-dark-2: hsl(210, 85%, 10%);
  --secondary-dark-3: hsl(210, 80%, 12%);

  --error: hsl(0, 100%, 30%);
  --info: hsl(210, 75%, 35%);
  --success: hsl(120, 80%, 20%);

  --line-shade-1: hsl(208, 77%, 10%);
  --line-shade-2: hsl(208, 80%, 25%);
  --line-shade-3: hsl(208, 83%, 40%);
  --line-shade-4: hsl(208, 86%, 55%);
  --line-shade-5: hsl(208, 89%, 70%);
  --line-shade-6: hsl(180, 25%, 15%);
  --line-shade-7: hsl(180, 25%, 30%);
  --line-shade-8: hsl(180, 25%, 45%);
  --line-shade-9: hsl(180, 25%, 60%);
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  /* font-family: 'Roboto', sans-serif;
  font-weight: 300; */
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-color: var(--primary-dark-1);
  color: hsl(0, 0%, 85%);
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 40%;
  max-width: 750px;
  min-width: 600px;
}

a, a:visited {
  color: var(--text);
}

::-webkit-scrollbar {
  width: 18px;
  visibility: hidden;
  opacity: 1;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-resizer {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 20%, 0.6);
  border-radius: 10px;
  border: 5px solid var(--primary-dark-1);
}

@media(max-width: 1000px) {
  #root {
    width: 80%;
  }
}

@media(max-width: 500px) {
  #root {
    width: 90%;
  }
}


/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
