.ReplayRecord {
  padding: 15px;
  background-color: var(--primary-dark-2);
  border: 4px solid var(--secondary-light-1);
  border-bottom: none;
  transition: background-color 0.2s;
}

.ReplayRecord:first-child {
  padding: 15px;
  border-radius: 8px 8px 0 0;
}

.ReplayRecord:last-child {
  border-radius: 0 0 8px 8px;
  border-bottom: 4px solid var(--secondary-light-1);
  padding-bottom: 15px;
}

.ReplayRecord:hover {
  background-color: var(--secondary-light-1);
}

.ReplayRecord--selected {
  background-color: var(--secondary-light-1);
  /* box-shadow: inset 0 0 0 3px var(--primary-blue); */
  padding-top: 19px;
  border: 4px solid transparent;
  border-top: none;
}

.ReplayRecord--selected.ReplayRecord:first-child  {
  border-top: 4px solid transparent;
}

.ReplayRecord--selected + .ReplayRecord {
  border-top: none;
}

.ReplayRecord--selected + .ReplayRecord--selected {
  padding-top: 15px;
}

.ReplayRecord__preview {
  display: flex;
  column-gap: 30px;
}

.ReplayRecord__preview:hover {
  cursor: pointer;
}

.ReplayRecord__players {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.ReplayRecord__player-info {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 8px;
  padding-left: 5px;
  width: max-content;
}

.ReplayRecord__player-info--win {
  box-shadow: 0 0 0 2px var(--green-highlight) inset;
  background-color: var(--green-background);
  padding: 8px;
  padding-left: 5px;
  border-radius: 8px;
}

/* .ReplayRecord__player-info--loss {
  box-shadow: 0 0 0 2px var(--red-highlight) inset;
  background-color: var(--red-background);
} */

.ReplayRecord__matchup-race-icon {
  height: 25px;
  margin-right: -5px;
  width: 25px;
}

.ReplayRecord__player-name {
  width: 100px;
}

.ReplayRecord__player-result {
  justify-self: flex-end;
  font-size: 14px;
  border-radius: 5px;
  padding: 4px 8px;
  width: 30px;
  text-align: center;
}

.ReplayRecord__player-result--win {
  background-color: var(--green-highlight);
}

/* .ReplayRecord__player-result--loss {
  background-color: var(--red-highlight);
} */

.ReplayRecord__match-info {
  display: grid;
  grid-template: 1fr 1fr / max-content 1fr;
  grid-template-areas:
    'map game-length'
    'tournament-info played-at';
  width: 100%;
  align-items: center;
  row-gap: 10px;
}

.ReplayRecord__map {
  grid-area: map;
  font-size: 24px;
}

.ReplayRecord__game-length {
  grid-area: game-length;
  font-size: 24px;
  justify-self: flex-end;
}

.ReplayRecord__tournament-info {
  grid-area: tournament-info;
}

.ReplayRecord__played-at {
  grid-area: played-at;
  justify-self: flex-end;
}

.ReplayRecord__builds {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.ReplayRecord__player-build {
  width: max-content;
  display: flex;
  align-items: center;
}

.ReplayRecord__building-icon {
  height: 25px;
  width: 25px;
}

.ReplayRecord__arrow-right {
  height: 15px;
  width: 15px;
  margin: 0 -2px;
}

.ReplayRecord__arrow-right:last-child {
  display: none;
}

.ReplayRecord__related-builds {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.ReplayRecord__build-recommendation {
  font-size: 12px;
  font-weight: 400;
}

@media(max-width: 700px) {
  .ReplayRecord {
    padding: 6px;
  }

  .ReplayRecord:first-child {
    padding: 6px;
  }

  .ReplayRecord:last-child {
    padding-bottom: 6px;
  }

  .ReplayRecord--selected {
    padding-top: 10px;
  }

  .ReplayRecord--selected + .ReplayRecord {
    border-top: none;
    padding-top: 6px;
  }

  .ReplayRecord__preview {
    column-gap: 8px;
  }

  .ReplayRecord__players {
    font-size: 12px;
    row-gap: 0;
  }

  .ReplayRecord__player-info {
    column-gap: 8px;
  }

  .ReplayRecord__player-name {
    width: 75px;
  }

  .ReplayRecord__player-result {
    font-size: 12px;
    border-radius: 5px;
    padding: 3px 6px;
    width: 24px;
  }

  .ReplayRecord__match-info {
    grid-template: 1fr 1fr / 6fr 4fr;
    grid-template-areas:
      'map game-length'
      'tournament-info played-at';
    align-items: center;
  }

  .ReplayRecord__map {
    font-size: 14px;
    width: 140%;
  }

  .ReplayRecord__game-length {
    font-size: 14px;
  }

  .ReplayRecord__tournament-info {
    font-size: 11px;
    font-weight: 400;
  }

  .ReplayRecord__played-at {
    font-size: 11px;
    font-weight: 400;
  }

  .ReplayRecord__building-icon {
    height: 20px;
    width: 20px;
  }
}

/* @media(max-width: 700px) {
  .ReplayRecord__preview {
    flex-direction: column;
  }

  .ReplayRecord__players {
    flex-direction: row;
  }
} */
