---
import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';
import '@fontsource/inter/700.css';
import '../components/index.css';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sc2.gg - Search for StarCraft 2</title>
    <meta name="description" content="Search 9000+ StarCraft 2 (SC2) games for replays, players, maps and events" />
    <script defer data-domain="sc2.gg" src="https://plausible.io/js/script.js"></script>
  </head>
  <style>
    .AppLayout {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      width: 60%;
      max-width: 800px;
      min-width: 620px;
    }

    @media(max-width: 1300px) {
      .AppLayout {
        width: 80%;
      }
    }

    @media(max-width: 650px) {
      .AppLayout {
        width: 90%;
        min-width: 0;
      }
    }

    .AppLayout__header {
      width: 100%;
      display: grid;
      grid-template: 'home-page current-page nav-open' / 1fr 3fr 1fr;
      align-items: center;
      margin: 15px 0;
    }

    /* .AppLayout__breadcrumbs {
      grid-area: breadcrumbs;
      display: flex;
      column-gap: 3px;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      justify-self: flex-start;
    } */

    .AppLayout__home {
      grid-area: home-page;
      padding: 6px;
      background-color: var(--primary-light-1);
      border-radius: 8px;
      width: 12px;
      height: 12px;
      display: flex;
    }

    .AppLayout__home-icon {
      width: 12px;
      height: 12px;
    }

    .AppLayout__page {
      grid-area: current-page;
      text-decoration: none;
      font-weight: 700;
      justify-self: center;
    }

    .AppLayout__page:hover {
      text-decoration: underline;
    }

    .AppLayout__nav-open {
      grid-area: nav-open;
      justify-self: flex-end;
    }

    .AppLayout__nav-icon {
      width: 24px;
      height: 24px;
    }

    .AppLayout__nav-menu {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: var(--secondary-dark-4);
      overflow-x: hidden;
      transition: 0.2s;
      display: flex;
      justify-content: space-between;
    }

    .AppLayout__nav {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      padding-top: 20px;
      padding-left: 20px;
    }

    .AppLayout__nav .AppLayout__link {
      font-size: 16px;
    }

    .AppLayout__nav-close {
      padding-top: 20px;
      padding-right: 20px;
    }

    .AppLayout__nav-icon:hover {
      cursor: pointer;
    }

    .AppLayout__link {
      text-decoration: underline;
      font-size: 14px;
      font-weight: 400;
    }

    .AppLayout__container {
      width: 100%;
    }

    @media(max-width: 575px) {
      .AppLayout__header {
        margin-bottom: 10px;
      }

      .AppLayout__page h1 {
        font-size: 16px;
      }

      .AppLayout__link {
        font-size: 12px;
      }

      .AppLayout__breadcrumbs,
      .AppLayout__breadcrumbs .AppLayout__link {
        font-size: 10px;
      }
    }
  </style>
  <body>
    <div class="AppLayout">
      <header class="AppLayout__header">
        <!-- <span class="AppLayout__breadcrumbs">
          <a class="AppLayout__link" href="/">sc2.gg</a> /
          <a class="AppLayout__link" href="/search">search</a>
        </span> -->
        <a class="AppLayout__home" href="/">
          <svg class="AppLayout__home-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>          
        </a>
        <a class="AppLayout__page" href="/search">
          <h1>Search SC2 Games</h1>
        </a>
        <svg
          onclick="openNav()"
          class="AppLayout__nav-icon AppLayout__nav-open"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
        </svg>
      </header>
      <div class="AppLayout__nav-menu">
        <nav class="AppLayout__nav">
          <a class="AppLayout__link" href="/">Home</a>
          <a class="AppLayout__link" href="/search">Search</a>
          <a class="AppLayout__link" href="/reports/top-builds-2022">Top Builds of 2022</a>
        </nav>
        <svg
          class="AppLayout__nav-icon AppLayout__nav-close"
          onclick="closeNav()"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>            
      </div>
      <div class="AppLayout__container">
        <slot />
      </div>
    </div>
  </body>
</html>

<script is:inline>
  function openNav() {
    const nav = document.getElementsByClassName('AppLayout__nav-menu')[0];
    nav.style.width = "100%";
  }

  function closeNav() {
    const nav = document.getElementsByClassName('AppLayout__nav-menu')[0];
    nav.style.width = "0";
  }
</script>
