---
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';
import '@fontsource/inter/700.css';
import '../components/index.css';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://sc2.gg/search/" />
    <title>sc2.gg - StarCraft 2 Search Engine</title>
    <meta name="description" content="Search 9000+ StarCraft 2 (SC2) games for replays, players, maps and events" />
    <script defer data-domain="sc2.gg" src="https://plausible.io/js/script.js"></script>
    <script>
      // @ts-ignore
      window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }
    </script>
  </head>
  <style>
    .AppLayout {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      width: 60%;
      max-width: 800px;
      min-width: 620px;
    }

    @media(max-width: 1300px) {
      .AppLayout {
        width: 80%;
      }
    }

    @media(max-width: 650px) {
      .AppLayout {
        width: 90%;
        min-width: 0;
      }
    }

    @media(max-width: 575px) {
      .AppLayout__link {
        font-size: 12px;
      }
    }

    .AppLayout__container {
      width: 100%;
    }
  </style>
  <body>
    <div class="AppLayout">
      <Header title="Search SC2 Games" link="/search" />
      <Nav />
      <div class="AppLayout__container">
        <slot />
      </div>
    </div>
  </body>
</html>
